%form{:action => "/", :method => "post", :id => "add-form"}
  %fieldset
    %label Enter a valid URL:
    #urlfield
      %input{:type => "text", :name => "url", :value => "http://"}
      #urloptions
        %span What is a valid URL?
    %button Fall in love with Icon