*
  :margin 0
  :padding 0

body
  :font normal normal 13px/1.7em Helvetica Neue, Helvetica, Arial, sans-serif
  :color #000

a
  :color #FF2B06
  :text-decoration none
  &:hover
    :text-decoration underline

ul
  :list-style none



#container
  :margin 2em auto
  :width 960px
  :overflow hidden
  
#header,
#content,
#footer
  :float left
  :width inherit

#header
  :border-bottom 1px dotted #FF2B06
  #logo
    :float left
    h1
      :display block
      a
        :font-size 3em
        :font-weight bold
        :letter-spacing -3px
        :text-transform uppercase
        :display block
        :line-height 1em
        :padding 0 0.2em
        &:hover
          :background #FF2B06
          :color #FFF
          :text-decoration none
  #nav
    :float right
    ul
      li
        :float left
        a
          :display block
          :font-size 1.5em
          :font-weight normal
          :padding 1.5em
          :color #222
          &:hover
            :background #E9E9E9
            :color #E12000
            :text-decoration none
            
#content
  :margin 3em 0
  :background #E9E9E9
  :border 1px solid #DDD
  :-moz-border-radius 1em
  :-webkit-border-radius 1em
  ul
    :padding 1em
    :float left
    li
      :float left
      :display block
      :padding 1em
      img
        :display block
        :float left
        :background #FFF
        :border 1px solid #DDD
      a
        :display block
        :font-size 1.2em
        :line-height 1.2em
        :margin 0 4em 0 2em
        :color #999
        &:hover
          :color #111
        