*
  :margin 0
  :padding 0

body
  :font normal normal 13px/1.7em Helvetica Neue, Helvetica, Arial, sans-serif
  :color #000

a
  :color #E2007A
  :text-decoration none
  &:hover
    :text-decoration underline

ul
  :list-style none



#header,
#content,
#footer
  :margin 0 auto
  :width 90%
  :overflow hidden

#sidebar
  :width 580px

#logo-wrapper
  .shadow
    :background transparent url(../img/shadow.png) no-repeat
    :float left
    :height 25em
  .left
    :background-position -41px -351px
    :padding 0 0 5em 37em
  .right
    :background-position -864px -351px
    :padding 0 7em 5em 0
  #logo
    :float left
    :margin 0 -2em 0 -32em
    :width 34em
    :height 328px
    :background #E2007A
    h1
      :display block
      a
        :font-size 3em
        :font-weight bold
        :letter-spacing -3px
        :text-transform uppercase
        :display block
        :line-height 1em
        :padding 2em 0.2em 0.2em
        :color #FFF
        :text-align center
        &:hover
          :text-decoration none
      span
        :font-size 0.7em
        :font-weight normal
        :text-transform none
        :display block
        :letter-spacing 0px
        :text-align right

#navigation
  :float right
  :margin-right 5em
  ul
    li
      :float left
      a
        :text-align right
        :display block
        :font-size 1.5em
        :font-weight normal
        :padding 1.5em
        :color #333
        :outline none
        &:hover
          :background #E9E9E9
          :color #E2007A
          :text-decoration none
      a.selected
        :color #E2007A
        :text-decoration underline
        &:hover
          :background #FFF
            
#content
  ul
    :background #E9E9E9
    :border 1px solid #DDD
    :-moz-border-radius 1em
    :-webkit-border-radius 1em
    :padding 1em
    :margin 0 5em
    :float left
    li
      :float left
      :display block
      :padding 1em
      img
        :display block
        :float left
        :background #FFF
        :border 1px solid #DDD
      a
        :display block
        :font-size 1.2em
        :line-height 1.2em
        :margin 0 4em 0 2em
        :color #999
        &:hover
          :color #111
        
#footer
  :margin 2em auto
  p
    :margin 0 5em
    
#add-icon
  :text-align center
  
#add-form
  fieldset
    :border none
  #urlfield
    :-moz-border-radius 5px
    :background #EEE
    :border 1px solid #CCC
    :padding 5px
    input
      :width 400px
      :font-size 1.2em
    #urloptions
      :margin 3px 5px 0 0
      :text-align right
      span
        :color #E2007A
        :text-decoration underline
        :cursor pointer
  button
    :font-size 1.2em
    :cursor pointer
    :margin 10px 0 0
    
    